.table {
    display: flex;
    flex-direction: column;
    border-radius: 16px;
    overflow: hidden;
    background: #f5f5f5;
}

.tableHead {
    background: #fafafa;
    border-bottom: 1px solid #ddd;
}

.row {
    display: flex;
}

.rowHead {
    font-weight: 600;
}

.cell {
    display: flex;
    align-items: center;
    min-height: 40px;
    padding: 0 8px;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    border-bottom: 1px solid #eee;
}

.cellHead {
    border-bottom: 1px solid #ddd;
}

.body {
    height: calc(100vh - 50px);
    overflow: auto;
    background: #fff;
}
