.table {
    display: flex;
    flex-direction: column;
    border-radius: 16px;
    overflow: hidden;
    background: #f5f5f5;
}

.table__head {
    background: #fafafa;
    border-bottom: 1px solid #ddd;
}

.table__row {
    display: flex;
}

.table__row--head {
    font-weight: 600;
}

.table__cell {
    display: flex;
    align-items: center;
    min-height: 40px;
    padding: 0 8px;
    box-sizing: border-box;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    border-bottom: 1px solid #eee;
}

.table__cell--head {
    border-bottom: 1px solid #ddd;
}

.table__body {
    height: calc(100vh - 50px);
    overflow: auto;
    background: #fff;
}
